if VIDEO_V4L2

menu "Camera device support for Jetson Nano"
	visible if !MEDIA_SUBDRV_AUTOSELECT || COMPILE_TEST

config VIDEO_OV5647
	tristate "OmniVision OV5647 V4L2 support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API

config VIDEO_OV5647_DEBUG
	bool "OmniVision OV5647 V4L2 advanced debug interface"
	depends on VIDEO_OV5647

endmenu

endif
